.container {
  width: 90vw;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  flex-wrap: wrap;
}

.start {
  justify-content: flex-start;
}

.center {
  margin-top: 2rem;
  justify-content: space-evenly;
  align-items: baseline;
  background-color: pink;

}

.column {
  flex-direction: column;
  justify-content: flex-start;
}

.min-height {
  min-height: 75vh;
}

.card {
  justify-content: flex-start;
  margin-left: 75vh;

}