.container {
    width:90vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  
  .start {
    justify-content: flex-start;
  }
  
  .column {
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .min-height {
    min-height: 75vh;
  }

  .card {
    justify-content: flex-start;
    margin-left: 75vh;

  }