.project_container {
    padding: 1.5em;
    max-width: 1200px;
}

.funcionario_title {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.title_container {

    padding: 0.1rem;
    display: flex;
    justify-content: flex;
    margin-bottom: 2em;
    align-items: center;

}

.filter_container {
    display: flex;
    justify-content: center;
}