.client_details {
    padding: 2em;
}

.client_details h1,
.client_details h2,
.client_details p {
    margin-bottom: 0.5em;
}

.client_details h1 {
    background-color: #222;
    color: #ffbb33;
    padding: 0.4em;
}

.client_details span {
    font-weight: bold;
}

.details_container,
.service_form_container{
border-bottom: 1px solid #7a7a7a;
margin-bottom: 1.2em;
padding: 1.2em;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.btn {
    background-color: #222;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    max-height: 40px;
    border: none;
}

.btn:hover {
    color: #ffbb33;
}

.client_info{
    width: 100%;
}
