.project_container {
    padding: 1.5em;
}

.pets_title {
    padding-top: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.title_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    align-items: center;

}

.filter_container {
    display: flex;
    justify-content: center;
}