.project_card {
    padding: 1em;
    border:  1px solid #7a7a7a;
    width: 27%;
    margin: 0.5%;
}

.project_card_title h4 {
    color: #ffbb33;
    padding-left: .5em;
    

}
.project_card_title {
    background-color: #222;
    display: flex;
    align-items: baseline;
    margin-bottom: 1.3em;
    justify-content: space-around;
}

.project_card p {
    color: #7a7a7a;
    margin-bottom: 1em;
    
}
.project_card span {
    font-weight: bold;
}

.category_text {
    display: flex;
    align-items: center;
}

.value_text {
    display: flex;
    align-items: center;
    justify-content: baseline;
}

.number{
    font-weight: bold;
    margin-left: .9em;
}

.category_text span {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #CCC;
    margin-right: 5px;
}

.category_text .agendamentos {
    background-color: #FFAEBC;
}

.category_text .dev {
    background-color: #a0e7e5

}

.category_text .design {
    background-color: #b4f8c8
}

.category_text .plan {
 background-color: #fbe7c6;
}

.project_card_actions {
    margin-top: 1.2em;
    display: flex;
    align-items: center;
}

.project_card_actions a,
.project_card_actions button {
    background-color: #ffbb33;
    color: #222;
    padding: .5em 1em;
    border: none;
    border-radius: 5px;
    margin-right: 1em;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.project_card_actions svg {
    margin-right: .5em;
}

.project_card_actions a:hover,
.project_card_actions button:hover {
    background-color: #222;
    color: #ffbb;
}